
.icon-to-start:before { content: '\e800'; } /* '' */
.icon-fast-backward:before { content: '\e801'; } /* '' */
.icon-to-end:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-ccw:before { content: '\e804'; } /* '' */
.icon-cw:before { content: '\e805'; } /* '' */
.icon-phone-2:before { content: '\e806'; } /* '' */
.icon-fast-forward:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-mail-1:before { content: '\e80c'; } /* '' */
.icon-home-1:before { content: '\e80d'; } /* '' */
.icon-ticket:before { content: '\e80e'; } /* '' */
.icon-folder-open:before { content: '\e80f'; } /* '' */
.icon-folder:before { content: '\e810'; } /* '' */
.icon-volume-up:before { content: '\e811'; } /* '' */
.icon-volume:before { content: '\e812'; } /* '' */
.icon-arrows-ccw:before { content: '\e813'; } /* '' */
.icon-note:before { content: '\e814'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
